@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?w8s6y0');
  src:  url('../fonts/icomoon.eot?w8s6y0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?w8s6y0') format('truetype'),
    url('../fonts/icomoon.woff?w8s6y0') format('woff'),
    url('../fonts/icomoon.svg?w8s6y0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e900";
  color: #00a693;
}
.icon-filter:before {
  content: "\e901";
  color: #00a693;
}
.icon-filter-on:before {
  content: "\e902";
  color: #00a693;
}
.icon-linkedin:before {
  content: "\e903";
  color: #7aa7a1;
}
.icon-menu:before {
  content: "\e904";
  color: #00a693;
}
.icon-one-pane:before {
  content: "\e905";
  color: #a1bcb9;
}
.icon-reddit:before {
  content: "\e906";
  color: #7aa7a1;
}
.icon-search:before {
  content: "\e907";
  color: #fff;
}
.icon-settings:before {
  content: "\e908";
  color: #00a693;
}
.icon-tick:before {
  content: "\e909";
  color: #fff;
}
.icon-twitter:before {
  content: "\e90a";
  color: #7ba7a1;
}
.icon-two-panes:before {
  content: "\e90b";
  color: #a1bcb8;
}
.icon-arrow-down:before {
  content: "\e90c";
  color: #00a693;
}
.icon-arrow-up:before {
  content: "\e90d";
  color: #00a693;
}
.icon-calendar:before {
  content: "\e90e";
  color: #00a693;
}
.icon-chevron-down:before {
  content: "\e90f";
  color: #787979;
}
.icon-chevron-left:before {
  content: "\e910";
  color: #666766;
}
.icon-chevron-right:before {
  content: "\e911";
  color: #666766;
}
.icon-chevron-up:before {
  content: "\e912";
  color: #787979;
}
.icon-cross:before {
  content: "\e913";
  color: #888;
}
