* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  background: #e9f1f0;
  font-size: 14px; }

a, a:hover {
  color: #00a693;
  text-decoration: none; }

body.home {
  background: url(../images/main-bg.jpg) no-repeat 50% 50%;
  background-size: cover; }

.container {
  position: relative;
  overflow: hidden; }

/* no-scroll body when the menu is shown */
.no-scroll {
  overflow: hidden; }

.table {
  margin-bottom: 0; }

.table th {
  border-top: 0; }

.table td {
  border-bottom: 1px solid #e9ecef; }

.current-assignee {
  padding: 0; }
  .current-assignee ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .current-assignee ul li {
      margin: 0;
      padding: 5px 0;
      border-bottom: 1px solid #e9ecef; }
      .current-assignee ul li:last-child {
        border-bottom: 0; }

.header {
  padding: 3px 0;
  height: 48px;
  background-color: #080607; }
  .header .logo {
    display: block;
    float: left; }
    .header .logo img {
      height: 42px; }
  .header .icon-menu {
    float: right;
    margin-top: 12px;
    font-size: 16px; }
  .header .icon-cross {
    display: none;
    float: right;
    margin-top: 16px;
    font-size: 16px; }
    .header .icon-cross::before {
      color: #fff; }
  .header .nav {
    display: none;
    float: right;
    margin-top: 17px;
    color: #fff; }
    .header .nav a {
      display: block;
      float: left;
      margin-left: 30px;
      color: #8b9694;
      text-transform: uppercase; }
      .header .nav a:hover {
        color: #fff;
        text-decoration: none; }
  .header .social-links {
    display: none;
    margin: auto;
    width: 120px; }
    .header .social-links a {
      display: block;
      float: left;
      width: 40px;
      text-align: center; }
      .header .social-links a span::before {
        color: #fff;
        font-size: 18px; }

.header.show-menu {
  z-index: 200;
  display: fixed;
  display: table;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #00a693;
  vertical-align: middle; }
  .header.show-menu .logo, .header.show-menu .icon-menu {
    display: none; }
  .header.show-menu .icon-cross, .header.show-menu .social-links, .header.show-menu .nav {
    display: block; }
  .header.show-menu .nav {
    display: table-cell;
    overflow: scroll;
    width: 100%;
    vertical-align: middle; }
  .header.show-menu .nav a {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto Slab"; }
  .header.show-menu .nav a::after {
    display: block;
    margin: 25px auto;
    width: 46px;
    height: 1px;
    background: #77cbc1;
    content: ""; }

@media all and (min-width: 768px) {
  .header {
    height: 68px; }
    .header .logo img {
      height: 62px; }
    .header .icon-menu {
      display: none; }
    .header .nav {
      display: block;
      float: right;
      margin-top: 22px;
      color: #fff; }
      .header .nav a {
        display: block;
        float: left;
        margin-left: 30px;
        color: #8b9694;
        text-transform: uppercase; }
        .header .nav a:hover {
          color: #fff;
          text-decoration: none; } }
.home .search-form {
  max-width: 1030px;
  background: transparent; }
.home .search-tabs {
  background: rgba(255, 255, 255, 0.8); }
.home .general-search-form {
  background: transparent; }
.home .advanced-search-form {
  background: rgba(255, 255, 255, 0.8); }

.search-form {
  margin: auto;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 52px;
  width: 100%;
  background: #ffffff; }
  .search-form .search-tabs {
    padding: 25px 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center; }
    .search-form .search-tabs a {
      padding: 6px 0;
      border-bottom: 1px solid transparent;
      color: #000000;
      text-decoration: none;
      margin: 0 15px; }
      .search-form .search-tabs a.active {
        color: #00a693;
        border-color: #00a693; }
  .search-form .general-search-form {
    margin: 100px 15px 0 15px;
    position: relative;
    padding: 0;
    overflow: hidden;
    display: none; }
    .search-form .general-search-form input[type='text'] {
      display: block;
      float: left;
      width: 100%;
      padding: 0 15px;
      font-size: 18px;
      font-weight: 100;
      height: 48px;
      border: 1px solid #dbd7cd; }
    .search-form .general-search-form button {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 48px;
      width: 48px;
      background: #00a693 url(../images/icons/search.svg) 50% 50% no-repeat;
      background-size: 16px 16px;
      color: #ffffff;
      border: 0;
      font-family: 'Roboto Slab';
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold; }
      .search-form .general-search-form button:hover {
        background-color: #0e8268;
        cursor: pointer; }
      .search-form .general-search-form button span {
        display: none;
        padding-left: 32px; }
  .search-form .advanced-search-form {
    padding-bottom: 30px; }
    .search-form .advanced-search-form .checkboxes {
      margin: 0 15px 15px; }
      .search-form .advanced-search-form .checkboxes .styled-checkbox {
        position: absolute;
        opacity: 0; }
        .search-form .advanced-search-form .checkboxes .styled-checkbox + label {
          position: relative;
          cursor: pointer;
          padding: 0;
          margin-right: 15px; }
        .search-form .advanced-search-form .checkboxes .styled-checkbox + label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          background: white;
          border: 1px solid #c1c1c1; }
        .search-form .advanced-search-form .checkboxes .styled-checkbox:checked + label:before {
          background: #00a693;
          border-color: #00a693; }
        .search-form .advanced-search-form .checkboxes .styled-checkbox:disabled + label {
          color: #b8b8b8;
          cursor: auto; }
        .search-form .advanced-search-form .checkboxes .styled-checkbox:disabled + label:before {
          box-shadow: none;
          background: #ddd; }
        .search-form .advanced-search-form .checkboxes .styled-checkbox:checked + label:after {
          content: '';
          position: absolute;
          left: 5px;
          top: 9px;
          background: white;
          width: 2px;
          height: 2px;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          transform: rotate(45deg); }
    .search-form .advanced-search-form .input-gr {
      margin: 0 15px 15px; }
    .search-form .advanced-search-form .input-gr::before, .search-form .advanced-search-form .input-gr::after {
      content: '';
      display: block;
      clear: both; }
    .search-form .advanced-search-form input[type='text'] {
      display: block !important;
      float: left;
      margin: 0 0 10px;
      width: 100%;
      height: 35px;
      padding: 0 13px;
      font-size: 12px;
      border: 1px solid #dbd7cd; }
    .search-form .advanced-search-form button {
      display: block;
      float: none;
      margin: auto;
      height: 58px;
      width: 238px;
      background: #00a693 url(../images/icons/search.svg) 32px 50% no-repeat;
      background-size: 16px 16px;
      color: #ffffff;
      border: 0;
      font-family: 'Roboto Slab';
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold; }
      .search-form .advanced-search-form button:hover {
        background-color: #0e8268;
        cursor: pointer; }
      .search-form .advanced-search-form button span {
        padding-left: 32px; }

@media all and (min-width: 768px) {
  .home .search-form {
    margin-top: 200px;
    background: rgba(255, 255, 255, 0.8);
    max-width: 1030px; }
  .home .search-tabs, .home .general-search-form, .home .advanced-search-form {
    background: transparent; }

  .search-form {
    margin: 0 auto;
    overflow: hidden;
    width: 700px;
    padding-bottom: 30px;
    background: #ffffff; }
    .search-form .search-tabs {
      position: static;
      background: transparent; }
    .search-form .general-search-form {
      margin: 0 30px;
      position: relative;
      overflow: hidden;
      display: none; }
      .search-form .general-search-form input[type='text'] {
        padding: 0 15px;
        font-size: 18px;
        height: 58px;
        width: 415px; }
      .search-form .general-search-form button {
        height: 58px;
        width: 206px;
        top: 0;
        background: #00a693 url(../images/icons/search.svg) 20px 50% no-repeat;
        background-size: 16px 16px; }
        .search-form .general-search-form button span {
          display: inline; }
    .search-form .advanced-search-form {
      background: transparent;
      margin: 0 20px;
      padding: 0; }
      .search-form .advanced-search-form .checkboxes {
        margin: 0 10px 10px 10px; }
      .search-form .advanced-search-form .input-gr {
        margin: 0 0 10px 0; }
      .search-form .advanced-search-form .input-gr::before, .search-form .advanced-search-form .input-gr::after {
        content: '';
        display: block;
        clear: both; }
      .search-form .advanced-search-form input[type='text'] {
        display: block !important;
        float: left;
        margin: 0 10px 10px 10px;
        width: 310px;
        height: 35px;
        padding: 0 13px;
        font-size: 12px;
        border: 1px solid #dbd7cd; }
      .search-form .advanced-search-form button {
        display: block;
        float: none;
        margin: auto;
        height: 58px;
        width: 238px;
        background: #00a693 url(../images/icons/search.svg) 32px 50% no-repeat;
        background-size: 16px 16px;
        color: #ffffff;
        border: 0;
        font-family: 'Roboto Slab';
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold; }
        .search-form .advanced-search-form button:hover {
          backgound-color: #0e8268; }
        .search-form .advanced-search-form button span {
          padding-left: 32px; } }
@media (min-width: 1140px) {
  .home .search-form {
    width: 1030px;
    padding: 0 30px 30px 30px;
    margin: auto;
    margin-top: 255px; }
    .home .search-form .search-tabs, .home .search-form .general-search-form, .home .search-form .advanced-search-form {
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
    .home .search-form .general-search-form input[type='text'] {
      width: 745px; }
    .home .search-form .advanced-search-form {
      margin: 0; }
      .home .search-form .advanced-search-form input[type='text'] {
        margin: 0 10px 10px 10px;
        width: 300px; }

  .search-form {
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px; }
    .search-form .search-tabs, .search-form .general-search-form, .search-form .advanced-search-form {
      width: 1030px;
      margin: auto; }
    .search-form .general-search-form input[type='text'] {
      width: 805px; } }
.params {
  margin: 20px 0 0 40px; }
  .params .param-group {
    margin-right: 8px;
    display: inline; }
  .params .param {
    padding: 10px 10px 10px 15px;
    margin-right: 2px;
    border-radius: 2px;
    display: inline-block; }
    .params .param span::before {
      font-size: 10px;
      margin-left: 5px; }
  .params .p1 {
    color: #3a5550;
    background: #b6d3ce; }
    .params .p1 span::before {
      color: #76948f; }
  .params .p2 {
    color: #405468;
    background: #bdc9d5; }
    .params .p2 span::before {
      color: #6e8194; }

.filter-bean {
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px; }

.filter-block {
  margin: 0 auto;
  margin-top: 20px;
  padding: 14px 10px 5px;
  min-height: 50px;
  border: 1px solid #d8e5e3;
  background-color: #fff; }

.filter-title {
  color: #2e2e2e;
  font: 500 14px "Roboto", sans-serif; }

.select-wrapper {
  position: relative;
  width: 100%; }

.select2-container {
  width: inherit !important; }

.select2-container--default .select2-selection--single {
  border: 1px solid #c1c1c1;
  border-radius: 0px;
  height: 37px;
  padding-top: 5px;
  outline: none; }

.select2-selection__rendered {
  font: normal 13px 'Roboto', sans-serif;
  color: #888;
  cursor: pointer; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  width: 12px;
  height: 7px;
  margin-left: -10px;
  margin-top: 1px;
  background-image: url(../images/icons/chevron-down.svg);
  border: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  background-image: url(../images/icons/chevron-up.svg);
  border: none; }

.select2-container--default .select2-search--dropdown {
  padding: 16px 15px; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  height: 35px;
  padding-left: 14px;
  background: #fff url(../images/icons/search-green.svg) no-repeat right 10px top 8px;
  background-size: 16px;
  border: 1px solid #c1c1c1;
  outline: none; }

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  border: 1px solid #98c4bf; }

.select2-results__option {
  padding-left: 15px;
  padding-right: 15px; }

.select2-results__option:first-child {
  display: none; }

.select2-results__option, .select2-search__field {
  font: normal 13px 'Roboto', sans-serif;
  color: #2e2e2e; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ecf2f1;
  color: #000; }

.separ {
  font-size: 12px;
  margin: 0 2px; }

.filter-date {
  margin-bottom: 5px;
  padding-left: 13px;
  width: 110px;
  height: 37px;
  border: 1px solid #c1c1c1;
  background: url(../images/icons/calendar.svg) no-repeat 85px 9px;
  background-size: 16px;
  color: #888;
  font: normal 13px "Roboto", sans-serif;
  cursor: pointer; }

.ui-datepicker {
  z-index: 60 !important;
  display: none;
  margin-top: 3px;
  margin-left: -45px;
  width: 258px;
  border-color: #98c4bf;
  border-right: 1px solid #98c4bf;
  border-bottom: 1px solid #98c4bf;
  border-left: 1px solid #98c4bf;
  background-color: white; }

.ui-datepicker-header {
  position: relative;
  margin-bottom: 10px;
  padding: 17px 20px;
  background-color: #00a693; }

.ui-datepicker-header::before {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #00a693;
  border-left: 20px solid transparent;
  content: ""; }

.ui-datepicker-title {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-family: "Roboto Slab", serif; }

.ui-datepicker-prev, .ui-datepicker-next {
  position: absolute;
  top: 20px;
  width: 9px;
  height: 15px;
  cursor: pointer; }

.ui-datepicker-prev span, .ui-datepicker-next span {
  color: transparent; }

.ui-datepicker-prev {
  left: 10px;
  background-image: url(../images/icons/chevron-left.svg); }

.ui-datepicker-next {
  right: 10px;
  background-image: url(../images/icons/chevron-right.svg); }

.ui-datepicker-calendar {
  padding-top: 10px;
  width: 100%; }

.ui-datepicker-calendar th {
  text-align: center; }

.ui-datepicker-calendar th span {
  font-size: 12px; }

.ui-datepicker-calendar td {
  text-align: center; }

.ui-state-default {
  display: inline-block;
  padding: 3px 5px;
  color: #383838;
  font-size: 12px; }

.ui-state-default:hover {
  background-color: #00a693;
  color: #383838;
  color: #fff;
  text-decoration: none; }

.ui-state-active {
  background-color: #00a693;
  color: #fff; }

.ui-datepicker-buttonpane {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  font-family: "Roboto Slab", serif; }

.ui-datepicker-buttonpane button {
  padding-left: 25px;
  outline: none;
  border: none;
  font-size: 14px;
  cursor: pointer; }

.ui-datepicker-buttonpane button:hover {
  background-color: white; }

.ui-datepicker-close {
  background: #fff url(../images/icons/cross.svg) no-repeat 4px 7px;
  background-size: 11px;
  color: #888; }

.ui-datepicker-close:hover {
  color: #888; }

.ui-datepicker-current {
  display: none; }

.ui-datepicker-custom {
  background: #fff url(../images/icons/tick.svg) no-repeat 0 7px;
  background-size: 16px;
  color: #00a693; }

.ui-datepicker-custom:hover {
  color: #00a693; }

.filter-select:focus, .filter-date:focus {
  outline: none;
  border-color: #98c4bf;
  color: #000; }

.switch-but {
  width: 112px;
  height: 37px;
  outline: none;
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  color: #888;
  font: normal 13px "Roboto", sans-serif;
  cursor: pointer; }

.switch-but:first-child {
  border-right: none; }

.switch-but:last-child {
  border-left: none; }

.switch-but.current {
  border: 1px solid #00a693;
  background-color: #00a693;
  color: #fff; }

.switch-but:hover {
  border: 1px solid #25b7a7;
  background-color: #25b7a7;
  color: #fff; }

@media (max-width: 1194px) {
  .filter-bean:nth-child(even) {
    padding-left: 40px; } }
@media (max-width: 760px) {
  .filter-bean:nth-child(even) {
    padding-left: 5px; } }
@media (max-width: 600px) {
  .large-list {
    width: 100%; } }
.back-to-search-results {
  padding: 15px 0; }
  .back-to-search-results a {
    color: #00a693;
    text-decoration: none; }
    .back-to-search-results a span::before {
      color: #00a693;
      font-size: 10px; }

.patent {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px; }

.patent-labels {
  float: left;
  font-weight: bold;
  margin-bottom: 15px; }
  .patent-labels .patent-label {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
    display: block;
    float: left;
    margin-right: 5px;
    padding: 0; }
  .patent-labels .ligitation {
    background-color: #00a693; }
  .patent-labels .country-code {
    background-color: #2b2e2d; }
  .patent-labels .post-grand-activities {
    background-color: #e65b5b; }

.patent-title {
  font-size: 20px;
  font-family: 'Roboto Slab';
  margin-left: 5px;
  float: left; }

.patent-details {
  margin: 0;
  padding: 0;
  list-style: none; }
  .patent-details li {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    line-height: 35px;
    word-break: break-all; }
    .patent-details li.patent-number {
      padding: 0 15px;
      height: 35px;
      line-height: 35px;
      border: 1px solid #d8e5e3;
      background-color: #ffffff;
      font-weight: normal; }
      .patent-details li.patent-number .p-label {
        border-radius: 50%;
        display: block;
        float: left;
        margin-top: 4px;
        margin-right: 5px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
        background-color: #00a693; }
    .patent-details li.q-score span, .patent-details li.family-q-score span, .patent-details li.v-score span {
      color: #ffffff;
      text-align: center;
      display: inline-block;
      line-height: 20px;
      min-width: 40px;
      width: 40px;
      height: 20px;
      border-radius: 2px; }
    .patent-details li.q-score span {
      background-color: #00a693; }
    .patent-details li.family-q-score span {
      background-color: #e8b22f; }
    .patent-details li.v-score span {
      background-color: #e65b5b; }
    .patent-details li.ipfs-hash {
      padding: 0 0 0 25px;
      background: url(../images/ipfs-hash.png) no-repeat 0 50%;
      font-weight: normal;
      font-size: 12px; }
    .patent-details li.download {
      font-weight: normal; }
      .patent-details li.download span::before {
        font-size: 9px;
        line-height: 14px;
        margin-right: 5px; }
      .patent-details li.download a {
        color: #00a693; }
    .patent-details li.view {
      float: right;
      background: url(../images/patent-view.png) left top;
      width: 53px;
      height: 26px;
      cursor: pointer;
      margin-top: 4px; }
      .patent-details li.view.one-pane {
        background-position: bottom; }
      .patent-details li.view img {
        display: block;
        float: left;
        height: 15px;
        width: 15px;
        margin: 5px; }
    .patent-details li:last-child {
      margin-right: 0; }
  .patent-details::before, .patent-details::after {
    content: '';
    display: block;
    clear: both; }

.panels {
  width: 1200px;
  margin: auto;
  margin-bottom: 100px;
  overflow: hidden; }
  .panels .panel {
    background: #ffffff;
    width: 593px;
    float: left; }
  .panels .panel.left {
    margin-right: 14px; }
  .panels .panel-header {
    background-color: #00a693;
    padding: 12px 20px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden; }
    .panels .panel-header a {
      border-bottom: 1px solid transparent;
      display: block;
      margin-right: 15px;
      font-size: 13px;
      float: left;
      color: #ffffff;
      text-decoration: none; }
      .panels .panel-header a.active {
        color: #000000;
        border-color: #000000; }
      .panels .panel-header a.more span::before {
        color: #ffffff;
        font-size: 8px;
        margin-left: 5px; }
  .panels .panel-search {
    width: 100%;
    border: 0;
    border-top: 1px solid #24b7a6;
    background: #05b09c url(../images/icons/search.svg) no-repeat 20px 50%;
    background-size: 16px;
    height: 45px;
    padding-left: 50px;
    color: #ffffff; }
    .panels .panel-search::-webkit-input-placeholder {
      color: #a5e9e0; }
    .panels .panel-search::-moz-placeholder {
      color: #a5e9e0; }
    .panels .panel-search:-moz-placeholder {
      color: #a5e9e0; }
    .panels .panel-search:-ms-input-placeholder {
      color: #a5e9e0; }
  .panels .panel-body {
    border: 1px solid #d8e5e3;
    border-top: 0;
    overflow: hidden;
    height: 630px;
    overflow-y: scroll; }
    .panels .panel-body::-webkit-scrollbar-track {
      margin: 0 3px;
      background-color: transparent; }
    .panels .panel-body::-webkit-scrollbar {
      width: 6px;
      background-color: transparent; }
    .panels .panel-body::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background-color: #cdd3d2; }
  .panels h4 {
    font-family: 'Roboto Slab';
    color: #00a693;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px; }
  .panels .sub-menu {
    background-color: #e9f1f0;
    padding: 15px 20px;
    overflow: hidden;
    margin-bottom: 15px; }
    .panels .sub-menu a {
      display: block;
      float: left;
      padding: 0;
      border-bottom: 1px solid transparent;
      color: #000000;
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 15px; }
      .panels .sub-menu a.active {
        color: #00a693;
        border-color: #00a693; }
  .panels .info {
    margin: 0 20px;
    padding: 0;
    list-style: none; }
    .panels .info li {
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid #e8e8e8; }
      .panels .info li:last-child {
        border-bottom: 0; }
  .panels .claims {
    margin: 0 20px;
    padding: 0 0 0 15px;
    counter-reset: item; }
    .panels .claims li {
      margin-bottom: 15px;
      display: block; }
      .panels .claims li::before {
        content: counter(item) ". ";
        counter-increment: item;
        font-weight: bold;
        margin-left: -1.05em; }

@media all and (min-width: 1140px) {
  .patent {
    width: 1200px; }

  .filter-block {
    width: 1030px; } }
.results-container {
  width: 1030px;
  background: #ffffff;
  margin: 20px auto;
  padding: 0 15px; }
  .results-container .results-table {
    font-size: 12px;
    border-top: 0; }
    .results-container .results-table .number, .results-container .results-table .priority-date {
      white-space: nowrap; }
  .results-container .pages {
    float: left;
    margin: 15px 0 15px 15px; }
    .results-container .pages label {
      font-weight: bold; }
    .results-container .pages .select-quant-rows {
      width: 114px;
      padding-left: 15px;
      height: 37px;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 1px solid #c1c1c1;
      background: #fff url(../images/icons/chevron-down.svg) no-repeat right 12px top 14px;
      background-size: 13px;
      font: normal 13px 'Roboto', sans-serif;
      color: #383838;
      cursor: pointer;
      outline: none; }
  .results-container .result-container-bottom {
    overflow: hidden;
    background: #ffffff; }
    .results-container .result-container-bottom .pagination {
      float: right;
      margin: 15px 0; }
      .results-container .result-container-bottom .pagination .prev, .results-container .result-container-bottom .pagination .next {
        float: left;
        height: 35px;
        text-align: center;
        line-height: 35px;
        padding: 0 20px;
        display: block; }
      .results-container .result-container-bottom .pagination .page {
        float: left;
        display: block;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        border-left: 1px solid #e8e8e8; }
        .results-container .result-container-bottom .pagination .page:last-child {
          border-right: 1px solid #e8e8e8; }
      .results-container .result-container-bottom .pagination a {
        color: #000000; }
        .results-container .result-container-bottom .pagination a span::before {
          color: #000000;
          font-size: 12px;
          margin: 0 5px; }
        .results-container .result-container-bottom .pagination a:hover {
          color: #0e8268; }
          .results-container .result-container-bottom .pagination a:hover span::before {
            color: #0e8268; }
      .results-container .result-container-bottom .pagination a.current {
        background-color: #19a384;
        color: #ffffff;
        border-color: #19a384; }
        .results-container .result-container-bottom .pagination a.current:hover {
          color: #ffffff;
          background-color: #0e8268; }

.td-type .type {
  position: relative;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 3px 7px;
  background-color: #00a693;
  border-color: #00a693;
  cursor: pointer; }
  .td-type .type:hover > .tt {
    visibility: visible; }
.td-type .type-text {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase; }
.td-type .tt {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: -45px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: inherit;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 15px;
  border-color: inherit;
  white-space: nowrap; }
  .td-type .tt:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    border-top-color: inherit; }

.td-source .source {
  position: relative;
  background-color: transparent; }
  .td-source .source:hover > .tt {
    visibility: visible; }
.td-source .tt {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: -140px;
  left: 100px;
  transform: translate(-50%, 0);
  border: 1px solid #98c4bc;
  width: 200px;
  background-color: #ffffff;
  color: #000000;
  padding: 15px; }
  .td-source .tt::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -13px;
    left: 10%;
    margin-left: -5px;
    width: 25px;
    height: 13px;
    background: url(../images/tt.png); }

.home .footer {
  position: fixed;
  bottom: 0;
  z-index: 10; }

.footer {
  position: static;
  padding: 16px 0;
  width: 100%;
  background: #e9f1f0;
  color: #b6cfcb;
  overflow: hidden; }

.footer .links {
  overflow: hidden;
  margin: auto;
  text-align: center;
  font-size: 12px; }

.footer .links a {
  color: #87afa8; }

.footer .links a:first-child::after {
  position: relative;
  top: 3px;
  display: inline-block;
  margin-right: 6px;
  margin-left: 10px;
  width: 1px;
  height: 15px;
  background-color: #b0cfcc;
  content: ""; }

.footer .social-links {
  display: none;
  float: right;
  margin-right: 30px;
  vertical-align: middle; }
  .footer .social-links span::before {
    color: #7ba7a2;
    font-size: 18px; }

.footer .social-links a {
  margin-left: 20px; }

.footer .social-links a img {
  width: 18px; }

@media all and (min-width: 768px) {
  .footer .links {
    float: left;
    margin-left: 15px; }

  .footer .social-links {
    display: block; } }

/*# sourceMappingURL=style.css.map */
