.datepicker-container.datepicker-dropdown {
  box-shadow: none;
  border: 1px solid #00a693;
}

.datepicker-container::before, .datepicker-container::after {
  border: 5px solid transparent;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.datepicker-container.datepicker-dropdown.datepicker-top-left::before {
  border-bottom: 5px solid #00a693;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -10px;
  width: 0;
}

.datepicker-container.datepicker-dropdown.datepicker-top-left::after {
  display: none;
}

.datepicker-top-left::before, .datepicker-top-right::before {
  border-bottom-color: transparent;
}

.month.prev, .month.current, .month {
  background-color: #00a693;
}

.datepicker-container .datepicker-panel > ul {
  width: 100%;
}

.datepicker-container .datepicker-panel > ul > li {
  height: 30px;
}

.datepicker-container .datepicker-panel > ul[data-view="week"] li,
.datepicker-container .datepicker-panel > ul[data-view="days"] li {
  height: 25px;
  line-height: 25px;
}

.datepicker-container .datepicker-panel > ul[data-view="months"] li,
.datepicker-container .datepicker-panel > ul[data-view="years"] li {
  line-height: 30px;
}

.datepicker-panel > ul > li[data-view="month current"], .datepicker-panel > ul > li[data-view="years current"],
.datepicker-panel > ul > li[data-view="year current"] {
  background-color: #00a693;
  color: white;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  padding-bottom: 7px;
}

.datepicker-panel > ul > li[data-view="day current"]:hover,
.datepicker-panel > ul > li[data-view="month current"]:hover,
.datepicker-panel > ul > li[data-view="year current"]:hover {
  background-color: #00bba8;
}

.datepicker-panel > ul > li.disabled[data-view="years current"] {
  background-color: #00a693;
  color: white;
}

.datepicker-panel > ul > li.disabled:hover[data-view="years current"] {
  background-color: #00a693;
  color: white;
}

.datepicker-panel > ul > li[data-view="years current"]:hover,
.datepicker-panel > ul > li[data-view="day picked"]:hover,
.datepicker-panel > ul > li[data-view="month picked"]:hover,
.datepicker-panel > ul > li[data-view="years picked"]:hover,
.datepicker-panel > ul > li[data-view="year picked"]:hover {
  background-color: #00a693;
  color: white;
}

.datepicker-panel > ul > li[data-view="year picked"].picked:hover,
.datepicker-panel > ul > li[data-view="month picked"].picked:hover,
.datepicker-panel > ul > li[data-view="day picked"].picked:hover {
  color: white;
}

.datepicker-panel > ul > li[data-view="month prev"], .datepicker-panel > ul > li[data-view="month next"],
.datepicker-panel > ul > li[data-view="years prev"], .datepicker-panel > ul > li[data-view="years next"],
.datepicker-panel > ul > li[data-view="year prev"], .datepicker-panel > ul > li[data-view="year next"] {
  background-color: #00a693;
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: top 8px center;
  color: transparent;
  padding-top: 7px;
  padding-bottom: 7px;
}

.datepicker-panel > ul > li[data-view="month prev"], .datepicker-panel > ul > li[data-view="years prev"],
.datepicker-panel > ul > li[data-view="year prev"] {
  background-image: url(/images/icons/left-arrow.png);
}

.datepicker-panel > ul > li[data-view="month next"], .datepicker-panel > ul > li[data-view="years next"],
.datepicker-panel > ul > li[data-view="year next"] {
  background-image: url(/images/icons/right-arrow.png);
}

.datepicker-panel > ul > li[data-view="month prev"]:hover, .datepicker-panel > ul > li[data-view="month next"]:hover,
.datepicker-panel > ul > li[data-view="years prev"]:hover, .datepicker-panel > ul > li[data-view="years next"]:hover,
.datepicker-panel > ul > li[data-view="year prev"]:hover, .datepicker-panel > ul > li[data-view="year next"]:hover {
  background-color: #00a693;
}

ul[data-view="week"] li {
  font-weight: bold;
}

.datepicker-panel > ul > li.highlighted[data-view="day picked"],
.datepicker-panel > ul > li.highlighted[data-view="year picked"],
.datepicker-panel > ul > li.highlighted[data-view="years picked"]
.datepicker-panel > ul > li.highlighted[data-view="month"] {
  background-color: #00a693;
  color: white;
}

.datepicker-panel > ul > li.muted[data-view="day next"]:hover,
.datepicker-panel > ul > li.muted[data-view="day prev"]:hover,
.datepicker-panel > ul > li.muted[data-view="year"]:hover {
  background-color: #008e7e;
  color: white;
}

.datepicker-container .datepicker-panel > ul > li.picked {
  color: #e65b5b;
}

.datepicker-container .datepicker-panel > ul > li.picked.highlighted {
  color: white;
}

.datepicker-panel > ul > li[data-view="year"].highlighted,
.datepicker-panel > ul > li[data-view="month"].highlighted,
.datepicker-panel > ul > li[data-view="day"].highlighted,
.datepicker-panel > ul > li[data-view="year"].highlighted:hover,
.datepicker-panel > ul > li[data-view="month"].highlighted:hover,
.datepicker-panel > ul > li[data-view="day"].highlighted:hover {
  background-color: #008e7e;
  color: white;
}

.datepicker-panel > ul > li[data-view="day"]:hover,
.datepicker-panel > ul > li.highlighted[data-view="day picked"]:hover,
.datepicker-panel > ul > li[data-view="year"]:hover,
.datepicker-panel > ul > li.highlighted[data-view="year picked"]:hover,
.datepicker-panel > ul > li[data-view="month"]:hover,
.datepicker-panel > ul > li.highlighted[data-view="month picked"]:hover {
  background-color: #00a693;
  color: white;
}

.datepicker-panel > ul > li[data-view="day"].highlighted:hover,
.datepicker-panel > ul > li[data-view="day next"].muted.highlighted.picked,
.datepicker-panel > ul > li[data-view="month picked"].highlighted.picked {
  background-color: #0e8268;
  color: white;
}

.datepicker-footer {
  width: 100%;
  height: 25px;
}

.datepick-cancel {
  border: none;
  background-color: white;
  font: bold 14px "Roboto Slab", serif;
  color: #888888;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.datepicker-header {
  position: relative;
  text-align: center;
  font: bold 14px "Roboto Slab", serif;
  background-color: #008e7e;
  color: #8bd5c4;
  width: 100%;
  height: 36px;
  padding-top: 7px;
}

.close-datepicker {
  position: absolute;
  top: 11px;
  right: 15px;
  width: 12px;
  height: 12px;
  background: url(/images/icons/close-picker.png);
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .datepicker-container.datepicker-dropdown {
    left: 50% !important;
    margin-top: -55px;
  }

  .datepicker-container.datepicker-dropdown li[data-view="years current"], .datepicker-container.datepicker-dropdown li[data-view="year current"], .datepicker-container.datepicker-dropdown li[data-view="month current"] {
    width: 80%;
  }

  .datepicker-container.datepicker-dropdown li[data-view="years prev"], .datepicker-container.datepicker-dropdown li[data-view="years next"],
  .datepicker-container.datepicker-dropdown li[data-view="year prev"], .datepicker-container.datepicker-dropdown li[data-view="year next"],
  .datepicker-container.datepicker-dropdown li[data-view="month prev"], .datepicker-container.datepicker-dropdown li[data-view="month next"] {
    width: 10%;
  }

  .datepicker-container.datepicker-dropdown.datepicker-top-left::before {
    left: -9px;
    margin-left: -7px;
    top: 19px;
    transform: rotate(-90deg);
  }
}

@media all and (max-width: 580px) {
  .datepicker-container.datepicker-dropdown {
    width: 94%;
    left: 3% !important;
    top: 10px !important;
    position: fixed;
    margin-top: 0;
    border: none;
  }

  .datepicker-container.datepicker-dropdown li[data-view="years current"], .datepicker-container.datepicker-dropdown li[data-view="year current"], .datepicker-container.datepicker-dropdown li[data-view="month current"] {
    width: 80%;
  }

  .datepicker-container.datepicker-dropdown li[data-view="years prev"], .datepicker-container.datepicker-dropdown li[data-view="years next"],
  .datepicker-container.datepicker-dropdown li[data-view="year prev"], .datepicker-container.datepicker-dropdown li[data-view="year next"],
  .datepicker-container.datepicker-dropdown li[data-view="month prev"], .datepicker-container.datepicker-dropdown li[data-view="month next"] {
    width: 10%;
  }

  .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="month prev"], .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="years prev"],
  .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="year prev"] {
    background-image: url(/images/icons/chevron-left-white.svg);
  }

  .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="month next"], .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="years next"],
  .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="year next"] {
    background-image: url(/images/icons/chevron-right-white.svg);
  }

  .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="year"],
  .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="year picked"],
  .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="month"],
  .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="month picked"] {
    width: 25%;
  }

  .datepicker-container.datepicker-dropdown .datepicker-panel > ul[data-view="week"] > li,
  .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="day prev"],
  .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="day"],
  .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="day next"],
  .datepicker-container.datepicker-dropdown .datepicker-panel > ul > li[data-view="day picked"] {
    width: 14.285714286%;
  }

  .datepicker-container.datepicker-dropdown.datepicker-top-left::before {
    display: none;
  }
}

/*# sourceMappingURL=datepicker.css.map */
