.close-mob-select {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/close-select.png);
  position: absolute;
  top: 14px;
  right: 16px;
  cursor: pointer;
}

.select2-dropdown {
  border-radius: 0;
}

@media all and (max-width: 768px) {
  .select2-dropdown {
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-color: #c1c1c1;
    box-shadow: 0 2px 6px 1px #bdbdbd;
  }
}

@media all and (max-width: 580px) {
  .select2-dropdown {
    box-shadow: none;
    border-bottom: none;
  }
}

@media all and (max-width: 580px) {
  .select2-container.select2-container--open {
    width: 94% !important;
    left: 3% !important;
    top: 10px !important;
  }

  .select2-hidden-accessible + .select2-container.select2-container--open {
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
  }

  .select2-dropdown.select2-dropdown--below, .select2-dropdown.select2-dropdown--above {
    width: 100% !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #383838;
  }
}

.filter-wrapper-mobile .select2-selection--single {
  border-top: none;
  border-left: none;
  border-right: none;
}

.select-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  z-index: 1000;
  padding: 14px 16px 0;
  background-color: white;
  color: #2e2e2e;
}

@media all and (min-width: 580px) {
  .select-header {
    display: none;
  }
}

.filter-bean:first-child .select2-container .select2-selection {
  background: #f4f4f4;
  background: -moz-linear-gradient(top, #f4f4f4 0%, #fafafa 26%, white 51%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f4f4f4), color-stop(26%, #fafafa), color-stop(51%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #fafafa 26%, white 51%, white 100%);
  background: -o-linear-gradient(top, #f4f4f4 0%, #fafafa 26%, white 51%, white 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #fafafa 26%, white 51%, white 100%);
  background: linear-gradient(to bottom, #f4f4f4 0%, #fafafa 26%, white 51%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ffffff', GradientType=0);
}

@media all and (min-width: 768px) {
  .filter-bean:first-child .select2-container .select2-selection {
    background: #fff;
  }
}

.select2-container {
  width: inherit !important;
}

.filter-wrapper-mobile .select2-container--default .select2-selection--single {
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
  height: 49px;
  outline: none;
  padding-top: 18px;
}

.filter-wrapper-desktop .select2-container--default .select2-selection--single {
  border: 1px solid #c1c1c1;
  border-radius: 0;
  height: 37px;
  outline: none;
  padding-top: 11px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 20px;
  color: #888888;
  cursor: pointer;
  font: normal 13px "Roboto", sans-serif;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url(/images/icons/chevron-down.svg);
  border: none;
  height: 7px;
  margin-left: -10px;
  width: 12px;
}

.filter-wrapper-mobile .select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 9px;
}

.filter-wrapper-desktop .select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 1px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  background-image: url(/images/icons/chevron-right.svg);
}

@media all and (min-width: 576px) {
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    background-image: url(/images/icons/chevron-up.svg);
    border: none;
  }
}

.select2-container--default .select2-search--dropdown {
  padding: 16px 15px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  background: #ffffff url(/images/icons/search-green.svg) no-repeat right 10px top 8px;
  background-size: 16px;
  border: 1px solid #c1c1c1;
  height: 35px;
  outline: none;
  padding-left: 14px;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  border: 1px solid #98c4bf;
}

.select2-results__option {
  padding-left: 15px;
  padding-right: 15px;
}

.uppercase-select .select2-results__option {
  text-transform: uppercase;
}

.select2-results__option, .select2-search__field {
  color: #2e2e2e;
  font: normal 13px "Roboto", sans-serif;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ecf2f1;
  color: #000000;
}

/*# sourceMappingURL=select.css.map */
